* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
section {
  width: 100%;
  padding: 0 10rem 0 10rem;
}
.landing_page {
  width: 100%;
  background-color: #f5f8f3;
  height: 100vh;
}
img {
  width: 2rem;
}
a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  padding: 0 10rem 0 10rem;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}
nav img {
  width: 10rem;
}

nav .list {
  flex: 1;
  text-align: right;
}
.list li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.list ul li a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}
.list ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #1f563f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.list ul li:hover::after {
  width: 100%;
}
.contact_btn {
  background-color: #1f563f;
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.landing_content .contact_btn:hover {
  background-color: #17432e;
  transform: scale(1.05);
}
.landing_content {
  display: flex;
  padding: 0 0 0 10rem;
  justify-content: space-between;
}
.landing_content h2 {
  font-size: 4.8rem;
}
.landing_content .left_content {
  margin-top: 8rem;
}
.left_content p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2rem 0 2rem 0;
}
.right_content {
  width: 45%;
  margin-top: 2rem;
}
.right_content .right_image {
  width: 45rem;
  position: absolute;
  right: 0;
}
.right_image img {
  width: 100%;
}
.main {
  padding-top: 4rem;
  padding-bottom: 7rem;
}
.main .head {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.main .title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #365949;
  margin-bottom: 4rem;
}
.main_flex {
  display: flex;
  justify-content: space-between;
}
.main i {
  display: inline-block;
  color: #486040;
  font-size: 2.4rem;
  margin-right: 2rem;
}
.text_content {
  margin-top: 7rem;
}
.text_content div {
  margin-bottom: 2rem;
}
.text_content p {
  display: inline-block;
  font-size: 1.8rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5rem 0;
}
.form-container {
  font-family: "poppins";
  height: 45rem;
  width: 360px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #5b7353;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 15px;
  color: #5b7353;
  font-weight: 600;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #5b7353;
  border-radius: 5px;
  font-size: 14px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #5b7353;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 5rem;
}

.form-container textarea {
  height: 12rem;
  resize: none;
  font-size: 13px;
  color: #5b7353;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #5b7353;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #486040;
}
.email_subscribe {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.email_subscribe h1 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.btn {
  background-color: #1f563f;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  cursor: pointer;
  width: 13.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 1rem;
  align-self: center;
}
.footer {
  padding-top: 4rem;
  background-color: #f5f8f3;
  padding-top: 4%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30%;
}
.footer a {
  color: #000;
}
.footer .menu {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.social_icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.social_icons a {
  font-size: 3rem;
  color: #365949;
}
.contact h2 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer img {
  width: 12rem;
  transform: translateY(-30%);
}
.menu a {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.menu a:last-child {
  white-space: nowrap;
}
.menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #1f563f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.menu a:hover::after {
  width: 100%;
}
.copy {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.copy i {
  font-size: 3rem;
  color: #365949;
}
.copy p {
  font-size: 1.4rem;
  font-weight: 400;
}
